<div class="container theme00" >
    <!-- BREADCRUMB -->
    <div class="dk-breadcrumb center-xs">
        <!-- MENU BTN -->
        <!-- <div class="dk-icon-menu">
            <i class="fa fa-ellipsis-v"></i>
        </div> -->
        <!-- // -->
    </div>
    
    <!-- <div class="dk-progress"></div> -->
    <!-- <div id="progressBar"><div id="x-perc_bar"></div></div> -->
    
    <!--- Slides CONTENTS -->
    <div id="x-content" style="overflow: hidden;"></div>
    <!-- // -->
</div>

<!--MODAL -->
<div id="dk-menu-dialog" class="dk-menu-dialog blur row middle-xs center-xs toukai"></div>

<audio id="click_sound">
    <source src="sounds/slide-paper.mp3" type="audio/mpeg">
</audio>
<audio id="button_sound">
    <source src="sounds/button.mp3" type="audio/mpeg">
</audio>
<audio id="popup_sound">
    <source src="sounds/popUp.mp3" type="audio/mpeg">
</audio>
<audio id="drag_sound">
    <source src="sounds/nice.mp3" type="audio/mpeg">
</audio>
<audio id="feed_sound">
    <source src="sounds/feed.mp3" type="audio/mpeg">
</audio>
<audio id="correct_sound">
    <source src="sounds/button.mp3" type="audio/mpeg">
</audio>
<audio id="incorrect_sound">
    <source src="sounds/feedWrong.mp3" type="audio/mpeg">
</audio>